<div id="hotels-overview" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/hotels-overview.less</em>, <em>assets/js/pages/hotels-overview.page.js</em>, and <em>api/controllers/view-hotels-overview.js</em>.)</p>
  <button @click="sayHello">Greet</button>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
